.fix-image {
    & > div {
        position: fixed;
        width: 20%;
        height: 1em;
        bottom: 0;
        &.first {
            background-color: #3F0063;
            left: 0;
        }
        &.second {
            background-color: #FF7749;
            left: 20%;
        
        }
        &.third {
            background-color: #FFF0BA;
            left: 40%;
        }
        &.fourth {
            background-color: #E81B52;
            left: 60%;
        }
        &.fifth {
            background-color: #CF95E8;
            left: 80%;
        }
    }
}
