<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title title">{{title}}</h4>
            <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        <div class="modal-body">
            {{question}}
        </div>
        <div class="modal-footer">
            <button type="button" class="button btn-first" (click)="apply()">Ok</button>
            <button type="button" class="button btn-second" (click)="close()">Cancel</button>
        </div>
    </div>
</div>
