.container-fluid {
    padding: 1em 3em;
    .filter-input {
        width: initial;
        &:focus {
            width: 100%;
        }
    }
    .card {
        background-color: transparent;
        border: none;
        margin-bottom: 1.5em;
        transition: top 1s linear;
        &:hover {
            top: 5px;
        }
        .card-body {
            position: relative;
            background-color: #FFF0BA;
            border: 1px solid #3F0063;
            box-shadow: 5px 5px #CF95E8;
            .remove-icon {
                position: absolute;
                top: 0;
                right: 5%;
                a {
                    color: #3F0063;
                    font-weight: bold;
                }
            }
            .card-title {
                color: #3F0063;
            }
            .card-text {
                color: #3F0063;
            }
            .todo-date {
                color: #E81B52;
            }
        }
    }
    .create-new-todo {
        padding-top: 2.5em;
        .section {
            .cnt-btn {
                width: 100%;
            }
            .breadcrumbs {
                margin: 1.5em 0;
                display: flex;
                justify-content: space-between;
                & > div {
                    padding: 1em;
                    border: 1px solid #CF95E8;
                    color: #CF95E8;
                    text-align: center;
                    width: 30%;
                    &.active {
                        background-color: #3F0063;
                        color: #ffffff;
                    }
                }
            }
            .form-group {
                margin: 1em;
                .custom-input {
                    width: 100%;
                }
                .button {
                    margin-right: 1.5em;
                }
                .error-msg {
                    color: #E81B52;
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .bn-btns {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1170px) {
    .bn-btns {
        display: flex;
        justify-content: center;
    }
}